<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Dashboard", suffix: "Dashboard" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            keyframes: {
              wave: {
                '0%': { transform: 'rotate(0.0deg)' },
                '10%': { transform: 'rotate(24deg)' },
                '20%': { transform: 'rotate(-8deg)' },
                '30%': { transform: 'rotate(18deg)' },
                '40%': { transform: 'rotate(-4deg)' },
                '50%': { transform: 'rotate(10.0deg)' },
                '60%': { transform: 'rotate(0.0deg)' },
                '100%': { transform: 'rotate(0.0deg)' },
              },
              bounce: {
                '0%, 100%': {
                  transform: 'translateY(-20%)',
                  'animation-timing-function': 'cubic-bezier(2, 0, 1, 1)',
                },
                '50%': {
                  transform: 'translateY(0)',
                  'animation-timing-function': 'cubic-bezier(0, 0, 0.2, 1)',
                }
              }
            },
            animation: {
              'waving': 'wave 2s linear infinite',
              'bounce': 'bounce 1.5s infinite'
            },
            fontFamily: {
              ants: ["Ants", "sans-serif"],
              pruncup: ["Pruncup", "sans-serif"]
            }
          },
        },
    }
  </script>
  <style>
    @font-face {
      font-family: "Ants";
      src: url("/fonts/SSAntRegular.ttf");
    }
    @font-face {
      font-family: "Pruncup";
      src: url("/fonts/EliceDigitalBaeum_Regular.ttf");
    }
  </style>
  </head>
  <body class="bg-cyan-100">
    <header>
    </header>
    <%= @inner_content %>
  </body>
</html>
